<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    </head>
    <body>
        <div class="headerBar">
            <span class="headerElement">Heroku Assignment</span>
        </div>
        <div class="leftBar">
            <span>Recent</span>
        </div>
        <div class="main">
            <span>Content</span>
        </div>
    </body>
</html>